@import "tailwindcss";

.overflow-x-auto {
  scrollbar-width: thin;
  scrollbar-color: #94a3b8 #f1f5f9;
}

.overflow-x-auto::-webkit-scrollbar {
  height: 10px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 8px;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
  border-radius: 8px;
  border: 2px solid #f1f5f9;
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background-color: #64748b;
}


.overflow-y-auto {
  scrollbar-width: thin;
  scrollbar-color: #94a3b8 #f1f5f9;
}

.overflow-y-auto::-webkit-scrollbar {
  height: 10px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 8px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
  border-radius: 8px;
  border: 2px solid #f1f5f9;
}

.overflow-y-auto::-webkit-scrollbar-thumb:hover {
  background-color: #64748b;
}